Package: com.wavelink.simjecttest
Name: Simject Test
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: TD
Author: TD
Section: Tweaks
